<html lang="en">
<script src="https://cdn.netpie.io/microgear.js"></script>

<script>

  const APPID = "SmartKey";
  const KEY = "Pmdw63kltCl2xIg";
  const SECRET = "qqVlDdpPj1Id8U8Xh6i5vq8rC";

  const ALIAS = "server";     //  ชื่อตัวเอง
  const thing1 = "esp8266";   //  ชื่อเพื่อนที่จะคุย

  const user_permission = {
  {% for i in user_permission.keys()%}
  {{i}}:[{% for j in user_permission[i]%}"{{j}}",{% endfor %} null],
  {% endfor %}
  1234: null
  };
  function switchPress(logic, door){
    var current_user = "{{user.username}}";
    // if(logic == "1" ){
    //   microgear.chat(thing1,"ON");
    // }else if(logic == "0" ){
    //   microgear.chat(thing1,"OFF");
    // }
    for(var i = 0; i < user_permission[door].length; i++){
      if(user_permission[door][i.toString()] == current_user){
        microgear.chat(thing1, door+logic);
        console.log("Updated: " + door+logic);
      }
    }
  }

  var microgear = Microgear.create({
    key: KEY,
    secret: SECRET,
    alias : ALIAS
  });


  microgear.on('message', function(topic,data) {
    // if(data=="ON"){
    //   document.getElementById("Status").innerHTML = "LOCK";
    // }else if(data=="OFF"){
    //   document.getElementById("Status").innerHTML = "UNLOCK";
    // }
    //set id of 3 door statuses to "status1", "status2" and "status3"
    console.log(data);
    for(var i = 1; i < 4; i++){
     if(data[i-1]=="1"){
       console.log("door " + i + " locked");
       document.getElementById("status"+i.toString()).innerHTML = "LOCK";
     }
    else{
       console.log("door " + i + " unlocked");
       document.getElementById("status"+i.toString()).innerHTML = "UNLOCK";
     }
    }
  });

  microgear.on('connected', function() {
    microgear.setAlias(ALIAS);
    document.getElementById("connected_NETPIE").innerHTML = "System is online."
  });

  microgear.on('present', function(event) {
    // document.getElementByID("connected_node").innerHTML = "NodeMCU Status: Online";
    console.log(event);
  });

  microgear.on('absent', function(event) {
    // document.getElementByID("connected_node").innerHTML = "NodeMCU Status: Offline";
    console.log(event);
  });

  microgear.resettoken(function(err) {
    microgear.connect(APPID);
  });

</script>
<link href= "static/css.css" type= "text/css" rel="stylesheet" />

<head>
	<meta charset="utf-8" />
	<title>Control Panel</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>

  <div class="table-title">
    <h3>Smart Key for Smart Home</h3>
    <p id="connected_NETPIE"></p><p>Current User: {{ user.username }}</p>
    {# <p id="connected_node">NodeMCU Status: OFFLINE</p>#}
    <!-- <p><a href='/logout'>Logout</a></p> -->
    <button type="button" onclick="window.location.href='/logout'">Logout</button>
  </div>

  <table class="table-fill">

    <thead>
      <tr>
        <th class="text-left">ROOM</th>
        <th class="text-left">Command</th>
        <th class="text-left">Status</th>
      </tr>
    </thead>
    {% for i in range(1,4) %}
    <tbody class="table-hover">
      <tr>
        <td class="text-center"><strong>Room {{i}}</strong></td>
        <td class="text-center">
          <button type="button" onclick="switchPress('1',{{i}})"
          {% if user.username not in user_permission[i] %}
          disabled{%endif%}>LOCK</button>
          <button type="button" onclick="switchPress('0',{{i}})"
          {% if user.username not in user_permission[i] %}
          disabled{%endif%}>UNLOCK</button>
        </td>
        <h3><td class="text-center" id="status{{i}}">UNLOCK</td></h3>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</body>
