<script src="https://cdn.netpie.io/microgear.js"></script>

<script>

  const APPID = "SmatKey";
  const KEY = "cOsZmDUh5VuqMTC";
  const SECRET = "bTEdDcmLlaCRZVoukE2tg5jeH";

  const ALIAS = "web";     //  ชื่อตัวเอง
  const thing1 = "esp8266";   //  ชื่อเพื่อนที่จะคุย

  function switchPress(logic, door){
    console.log("Updated: " + door+logic);
    // if(logic == "1" ){
    //   microgear.chat(thing1,"ON");
    // }else if(logic == "0" ){
    //   microgear.chat(thing1,"OFF");
    // }
    microgear.chat(thing1, door+logic);
  }

  var microgear = Microgear.create({
    key: KEY,
    secret: SECRET,
    alias : ALIAS
  });


  microgear.on('message', function(topic,data) {
    // if(data=="ON"){
    //   document.getElementById("Status").innerHTML = "LOCK";
    // }else if(data=="OFF"){
    //   document.getElementById("Status").innerHTML = "UNLOCK";
    // }
    //set id of 3 door statuses to "status1", "status2" and "status3"
    for(var i = 0; i < 3; i++){
     if(current_data[i]=="1"){
       document.getElementById("status"+i+1).innerHTML = "LOCK";
     }
    else{
       document.getElementById("status"+i+1).innerHTML = "UNLOCK";
     }
    }
  });

  microgear.on('connected', function() {
    microgear.setAlias(ALIAS);
    document.getElementById("connected_NETPIE").innerHTML = "System is online."
  });

  microgear.on('present', function(event) {
    console.log(event);
  });

  microgear.on('absent', function(event) {
    console.log(event);
  });

  microgear.resettoken(function(err) {
    microgear.connect(APPID);
  });

</script>

<html lang="en">
<link href= "static/css.css" type= "text/css" rel="stylesheet" />

<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>

  <div class="table-title">
    <h3>Smart Key for Smart Home</h3>
    <p id="connected_NETPIE"></p><p>Current User: {{ user.username }}</p>
    <!-- <p><a href='/logout'>Logout</a></p> -->
    <button type="button" onclick="window.location.href('/logout')">Logout</button>
  </div>

  <table class="table-fill">

    <thead>
      <tr>
        <th class="text-left">ROOM</th>
        <th class="text-left">Command</th>
        <th class="text-left">Status</th>
      </tr>
    </thead>
    {% for i in range(1,4) %}
    <tbody class="table-hover">
      <tr>
        <td class="text-center"><strong>Room {{i}}</strong></td>
        <td class="text-center">
          <button type="button" onclick="switchPress('1',{{i}})">LOCK</button>
          <button type="button" onclick="switchPress('0',{{i}})">UNLOCK</button>
        </td>
        <h3><td class="text-center" id="status{{i}}">UNLOCK</td></h3>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</body>
