<link href= "static/csslogin.css" type= "text/css" rel="stylesheet" />

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button onclick="window.location.href='/homeNETPIE.html'">login</button>
      <input type="submit" name="Submit2" value="View" onclick='location.replace("www.thaicreate.com")'>
      <!-- <p class="message">Not registered? <a href="http://google.com">Create an account</a></p> -->
    </form>
  </div>
</div>
